**/config.json
**/example_files/*
**/images/*
**/.ipynb_checkpoints/*
**/__pycache__/*
**/*.sqlite*
**/*.bin
**/*OPENAI_API_KEY*
**/docs/*
**/img/*
**/*LANGCHAIN_API_KEY*
**/*HF_API_KEY*
**/*store.json*
**/*.toml*
**/weights/*
**.npy