arrow==1.3.0
beautifulsoup4==4.12.3
charset-normalizer==3.3.2
cohere==4.36
contourpy==1.2.1
dataclasses-json==0.6.7
datasets==2.18.0
huggingface-hub==0.19.4
httpx==0.27.2
langchain==0.0.340
langsmith==0.0.92
llama-index==0.9.8
matplotlib==3.9.1
matplotlib-inline==0.1.7
networkx==3.2.1
nltk==3.8.1
numpy==1.24.3
openai==1.3.5
pandas==2.2.2
prompt_toolkit==3.0.47
protobuf==4.25.4
pure-eval==0.2.2
pyarrow==17.0.0
pyarrow-hotfix==0.6
pydantic==1.10.17
pyparsing==3.1.2
pypdf==3.16.1
python-dateutil==2.9.0
safetensors==0.4.3
scikit-learn==1.5.1
scipy==1.13.1
sentence-transformers==2.2.2
sentencepiece==0.2.0
streamlit==1.28.2
streamlit-aggrid==1.0.5
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.3
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-javascript==0.1.5
streamlit-keyup==0.2.4
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
tenacity==8.5.0
tiktoken==0.7.0
tokenizers==0.13.3
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.4
transformers==4.33.2
trulens-eval==0.18.1